.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  background-color: var(--inputBg);
  font-family: var(--fontPrimary);
}

.auth-form {
  width: 100%;
  max-width: 450px;
  padding: 3rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(30, 86, 49, 0.2);
  border: 1px solid var(--secColor);
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-family: var(--fontSecondary);
  font-size: 28px;
  color: var(--priColor);
  text-transform: uppercase;
}

.auth-link {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.95rem;
}

.auth-link a {
  color: var(--priColor);
  text-decoration: none;
  font-weight: 500;
}

.auth-link a:hover {
  text-decoration: underline;
} 