.portal-header {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-top: 1px;
  padding-bottom: 4px;
  background: linear-gradient(to right, #ffffff 0%, #AEDF88 50%, #1E5631 100%);
  color: #1E5631;
  font-size: 0.9rem;
  font-family: var(--fontSecondary);
}

.portal-logo {
  margin-left: 4px;
}

.portal-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 30px;
  text-transform: uppercase;
}

.portal-footer {
  text-align: center;
  background-color: #f0fdf4;
  color: #1E5631;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}